#SerChecker{
    /*width: 300px;*/
     position: relative;
    border: 1px solid black;
      overflow: auto;
    white-space: nowrap;
}
.PerSer{
      display: inline;
        width: 100px;
    height: 100px;
}
#newServer{
    display: inline-block;
    overflow: scroll;
}
#popup1{
    display: none;
}
ul{
        margin: 0; /* Обнуляем значение отступов */
    padding: 4px;
}
li{
    display: inline-block;

        padding: 20px;
    list-style-type: none;
}
#marq{
    position: relative;
    top:0;
    left: 0;
}